{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam velit, tempore magni doloremque voluptate aliquid quidem possimus, harum architecto eligendi cum repellat sequi laboriosam sapiente fuga eum fugiat dolorum. Eos asperiores accusamus rerum? Dolore accusamus nam esse laborum nisi rem dolores culpa? Ipsum dicta nisi nulla consectetur assumenda quos quod debitis ducimus rem natus perferendis adipisci possimus, expedita alias officiis obcaecati accusantium ad deleniti dignissimos doloremque quia facere, porro eveniet! Assumenda atque nesciunt dicta earum ut incidunt aperiam tempora sint voluptatibus quisquam quae non, eaque ex eum natus fugit est quam eligendi sed voluptate libero ratione at laudantium nam. Tempore?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Inciar Sesion!</a>
            <a class="btn btn-dark" href="/signup/">Registrate!</a>
        </div>
    </section>
</main>

{% endblock %}